<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Page</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Login</h1>

    <div class="container">
        <form method="post">
            <div class="flexer">
                <div><label for="c-pass">Email: </label></div>
                <div><input type="password" name="email" id="l-email"></div>
                <div><p class="message"></p></div>
            </div>
            <div class="flexer">
                <div><label for="r-pass">Password: </label></div>
                <div><input type="password" name="pass" id="l-pass"></div>
                <div><p class="message"></p></div>
            </div>
            
            <p id="msg">&nbsp;</p>
            <div class="bottom-buttons" id="linker">
                <input id="reset" type="reset" value="Clear">
                <input type="submit" value="Login">
            </div>
        </form>

        <script src="loginHtml.js" type="text/javascript"></script>
    </div>
</body>
</html>